<div class="jumbotron">
  <div class="row-fluid">
    <div class="span4">
        <%= image_tag(@event.image_filename) %>
    </div>
    <div class="span8">
      <strong style="font-size:50px; line-height:50px"><%= @event.tagline %></strong>
      <h3>with <a href="#about" role="button" data-toggle="modal"><%= @event.title %></a></h3>
    </div>
    <div style="clear:both"></div>
    <p><br><hr><br></p>
    <h2>Live Event!</h2>
    <h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
    <h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>

    <% if !current_user %>
      <p><%= link_to 'Sign up today!', new_user_path , class: "btn btn-success", style: "color:white" %></p>
      <p>Space is limited to the first 100 users!</p>
    <% elsif current_user && current_user.attending?(@event) %>
      <%= link_to 'Go to the event', @event , class: "btn btn-success", style: "color:white" %>
    <% elsif current_user %>
      <%= link_to 'Join the event', @event , class: "btn btn-success", style: "color:white" %>
    <% end %>

  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span12">
    <p><strong>Ever wanted to learn about the Business Landscape of Muslim Countries (OIC* member countries)? Here is why it’s absolutely necessary:</strong></p>
    <ul>
      <li>Big Population: There are ~1.7 billion Muslims in the world, with over 1.2 billion living in OIC countries including Turkey, Malaysia, Indonesia, Saudi Arabia, UAE, etc</li>
      <li>Wealth: The OIC countries hold a Quarter of the World’s Land + Resources. Many are emerging or frontier markets</li>
      <li>High-growth industries: Halal Lifestyle Market = $2+ Trillion & Islamic Finance Market = $1.5+ Trillion. Both industries are experiencing rapid growth. OIC countries = $7 trillion combined GDP with energy, financial services, food and agriculture, transportation, mining and major manufacturing sector competencies</li>
      <li>Impact: Companies in the OIC region are making a positive impact both regionally and globally</li>
    </ul>
    <p><strong>Here is what you’ll learn:</strong></p>
    <ul>
      <li>What are the top brands and corporations in the Muslim World?</li>
      <li>How do these compare with top global brands and benchmarks?</li>
      <li>How can these companies benefit from the growing inter-connectivity among their markets?</li>
      <li>Opportunities for global & Intra-OIC growth & investments</li>
    </ul>
    <p><strong>Who is this class for?</strong></p>
    <ul>
      <li>If you are interested to learn about the BUSINESS LANDSCAPE in the Muslim Markets. Open to everybody and no previous knowledge is required</li>
      <li>If you want to INVEST in the OIC region</li>
      <li>Be familiar with HALAL friendly companies</li>
    </ul>
    <p>*OIC = Organization of Islamic Cooperation (57 member countries)</p>
  </div>
</div>
 
<!-- Modal -->
<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>About Rafi-uddin Shikoh</h3>
  </div>
  <div class="modal-body">
    <p><%= @event.description %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>