<div class="comment_partial" id="comment_<%= comment.id %>">
  <div class="comment_contents">
  　<div class="name_block">
      <span class="name">
        <% if comment.user %>
          <span id="comment_submitter_<%= comment.id %>">
          <%= link_to "#{comment.user.username}", comment.user %></span>
        <% end %>
      <span class="time">が<%= time_ago_in_words(comment.created_at) %>コメント</span>
      <% if (comment.user && comment.user == current_user) %>
        <span class="edit">
          <%= link_to "Edit", edit_event_comment_path(comment), remote: true %>
        </span>
        <span class="destroy">
          <%= link_to "Delete", comment, :method => :delete, data: { confirm: 'Are you sure you want to delete your comment?', remote: true } %>
        </span>
      <% end %>
    </div>
    <div class="content_block" id="comment_block_<%= comment.id %>">
      <%= comment.content.try(:html_safe) %>
    </div>
    <% unless params[:controller] == "comments" && params[:action] == "new" %>
      <span class="reply" id="reply_link_<%= comment.id %>"><%= link_to "このコメントに返信する", new_event_comment_path(:parent_id => comment), remote: true %></span>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>