<div class="row">

  <%= simple_form_for([@event, @comment], remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :parent_id %>
    <%= f.text_area :content, :style => 'width:100%', :rows => 2, :placeholder => "Ask a question!", :id => "comment_input" %>

    <div>
      <span><%= f.button :submit, "Submit", class: "submit" %></span>
      <% if params[:action] != "show" %>
        <span><%= link_to "Cancel", '#', :class => "btn remove_form"%></span>
      <% end %>
    </div>
    
  <% end %>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.remove_form').click(function(event){
      $(".link_comments .comment_form").hide();
      $('#comment_marker').hide();
      $(".vocab_comments .comment_form").hide();
      $(".assignment_comments .comment_form").hide();    
      $("#comment_<%= @comment.id %> .comment_contents").show();
      $(".reply").show();
      event.preventDefault();
    });
});
</script>
