<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p><%= @user.email %></p>

<p><%= link_to 'Edit Account Settings', edit_user_path(@user) %></p>
<p><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></p>
