<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p><%= @user.email %></p>

<p><%= link_to 'Edit Account Settings', edit_user_path(@user) %></p>
<p><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></p>

<br>

<h1>Events You are Attending</h1>

<table>
	<% @events.each do |event| %>
	<div class="hero-unit">
	  <a href=<%= event_path(event) %>>
	    <h3><%= event.title%></h3>
	  </a>
	    <h4><%= event.tagline %></h4>
	    <h4>Number of Attendees: <%= event.viewers.count %></h4>
	  <tr>
	    <td><% link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	  </div>
	<% end %>
</table>

