<h1>All Events</h1>

<table>
	<% Event.all.each do |event| %>
		<div class="hero-unit">
		  <a href=<%= event_path(event) %>>
		    <h3><%= event.title%></h3>
		  </a>
	    <h4><%= event.tagline %></h4>
	    <h4>Number of Attendees: <%= event.viewers.count %></h4>
	    <% if current_user && current_user.attending?(event) %>
	    	You are attending this event.
	    <% end %>
	    <% if current_user && current_user.admin? %>
		  <tr>
		    <td><% link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </div>
	<% end %>
</table>

<% if current_user && current_user.admin? %>
	<%= link_to 'New Event', new_event_path %>
<% end %>
