<div class="jumbotron">
  <div class="row-fluid">
	<h2><%= @event.tagline %></h2>
	<h3><%= @event.title %></h3>

	<% if current_user && current_user.attending?(@event) %>
		<div>
			<% if @event.url %>
				<div class="span6">
					<iframe width="420" height="315" src="<%= @event.url %>" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="span6">
					<iframe src="http://www.slideshare.net/slideshow/embed_code/15474339?rel=0" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
				</div>
			<% else %>
				<h4 style='color: grey;'>You have paid for this event.</h4>
				<h4 style='color: grey;'>Video will be available</h4>
				<h5 style='color: grey;'>If you need help with your payment, email <a href="mailto:support@shareilm.com">support@shareilm.com</a></h5>
			    <h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
    			<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
			<% end %>
		</div>
	<% elsif current_user && !current_user.attending?(@event) %>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
		<p>The price to join this event is $<%= '%.2f' % (@event.price.to_i/100.0) %></p>
		<% if Guestlist.count < 101 %>
			<p>There are <%= 101 - Guestlist.count.to_i %> available seats to this event.</p>
			<%= form_tag event_charges_path(@event) do %>
				<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
					data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					data-description="Sign up for this event!"
					data-amount=<%= @event.price.to_i %>>
				</script>
			<% end %>
		<% else %>
			<h5>Sorry, this event is at maximum capacity.</h5>
			<h5>Please email <a href="mailto:support@shareilm.com">support@shareilm.com</a> for more information.</h5>
		<% end %>
	<% end %>
	</div>
</div>

New Comment

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'shareilm'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

 <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'shareilm'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
