<div class="jumbotron">
  <div class="row-fluid">
	<h2><%= @event.tagline %></h2>
	<h3><%= @event.title %></h3>

	<% if current_user && current_user.attending?(@event) %>
		<div>
			<% if @event.url %>
				<iframe width="420" height="315" src="<%= @event.url %>" frameborder="0" allowfullscreen></iframe>
			<% else %>
				<h4 style='color: grey;'>You have paid for this event.</h4>
				<h4 style='color: grey;'>Video will be available</h4>
			    <h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
    			<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
			<% end %>
		</div>
	<% elsif current_user && !current_user.attending?(@event) %>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
		<p>Price to join this event: $<%= '%.2f' % (@event.price.to_i/100.0) %></p>
		<%= form_tag event_charges_path(@event) do %>
			<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				data-description="Sign up for this event!"
				data-amount=<%= @event.price.to_i %>>
			</script>
		<% end %>
	<% end %>
	</div>
</div>



<hr>

	<%= link_to 'Back', events_path %>

