<div class="jumbotron">
  <div class="row-fluid">
	<h2><%= @event.tagline %></h2>
	<h3><%= @event.title %></h3>

	<% if current_user && current_user.attending?(@event) %>
		<div>
			<% if @event.url %>
				<iframe width="420" height="315" src="<%= @event.url %>" frameborder="0" allowfullscreen></iframe>
			<% else %>
				<h4 style='color: grey;'>You have paid for this event.</h4>
				<h4 style='color: grey;'>Video will be available</h4>
				<h5 style='color: grey;'>If you need help with your payment, email <a href="mailto:support@shareilm.com">support@shareilm.com</a></h5>
			    <h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
    			<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
			<% end %>
		</div>
	<% elsif current_user && !current_user.attending?(@event) %>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y") %></h3>
		<h3><%= @event.when.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %P %Z") %></h3>
		<p>The price to join this event is $<%= '%.2f' % (@event.price.to_i/100.0) %></p>
		<% if Guestlist.count < 101 %>
			<p>There are <%= 101 - Guestlist.count.to_i %> available seats to this event.</p>
			<%= form_tag event_charges_path(@event) do %>
				<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
					data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					data-description="Sign up for this event!"
					data-amount=<%= @event.price.to_i %>>
				</script>
			<% end %>
		<% else %>
			<h5>Sorry, this event is at maximum capacity.</h5>
			<h5>Please email <a href="mailto:support@shareilm.com">support@shareilm.com</a> for more information.</h5>
		<% end %>
	<% end %>
	</div>
</div>



<hr>

	<%= link_to 'Back', events_path %>

